.search-box-container {
    align-items: center;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}

.search-close-icon {
    color: #000000;
    cursor: pointer;
    padding-left: 10px;
}
.search-row{
    padding-top: 0rem!important;
    padding-bottom: 0rem !important;
}
.search-row-label {
    color: #8d9ba7  !important;
    float: left;
}
