.buildInfoBar {
    position: fixed;
    padding: .5em 1em 0;
    background: #718096;
    color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    left: 0;
    right: 0;
    bottom: 0;
    font-size: .8em;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    transition: height .2s linear;
    height: 3.5em;
}
.buildInfoBar.hidden{
    display: none;
}
.buildInfoBar.expanded{
    height: 50vh;
}
.buildInfoBar .sections{
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    max-height: 6em;
}
.buildInfoBar.expanded .sections{
    max-height: 999em;
}
.buildInfoBar .sections .group{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5em;
    margin-right: .5em;
}
.buildInfoBar .sections .group.separate{
    width: 100%;
}
.buildInfoBar .actions{
    position: absolute;
    top: -3.35em;
    right: 1em;
    left: 0em;
    display: flex;
    justify-content: space-between;
}
.buildInfoBar .actions .action{
    padding: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #718096;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    border-radius: 4px 4px 0 0;
}
.buildInfoBar .actions .action i.icon{
    margin: 0;
    height: 1em;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buildInfoBar .actions .action.close{
    background: #925a5a;
}
.buildInfoBar .actions .action.expand{
    background: #718096;
}

.buildInfoBar .section{
    margin-right: 0.5em;
}
.buildInfoBar .section.error{
    background: #9B2C2C;
}
.buildInfoBar .section .label{
    color: #4A5568;
    padding-right: 0.5em;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: normal;
}
.buildInfoBar .section.error .label{
    color: #999999
}
