/* React PDF Annotation Overrides */
.react-pdf__Document section.textWidgetAnnotation div {
    text-align: center;
    display: block !important;
    font-family: serif;
}
/* React MUIDataTableSelectCell Position Overrides */
.MUIDataTableSelectCell-fixedLeft-38
{
    position: relative !important;
}
/* React MuiTableRow-root:last-child Overrides */
.MuiTableRow-root:last-child .ui.dropdown>.left.menu {
    left: auto!important;
    right: 0!important;
    top: -31.5px;
}
