<mjml>
  <mj-include path="emailHeader.mjml" />
  <mj-body background-color="#FBFBFB">
    <mj-section>
      <mj-column width="100%">
        <mj-image
          width="200px"
          src="{{tenant.assets.images.logo}}"
          alt="{{tenant.name}}"
          href="{{tenant.url}}"
        />
        <mj-spacer height="50px" />
        <mj-text align="left" font-size="18px" font-weight="500"
          >Hello {{recipient.firstName}},</mj-text
        >
      </mj-column>
    </mj-section>

    <!-- CONTENT HERE -->
    <mj-section padding="0">
      <mj-column width="90%"
        >=
        <mj-text
          font-size="14px"
          color="#6D7276"
          align="center"
          font-weight="500"
        >
          You've been invited to join {{tenant.name}}
        </mj-text>
        <mj-text align="center" mj-class="light">
          Create an account to log into {{tenant.name}} and begin with our platform
        </mj-text>
      </mj-column>
    </mj-section>

    <!-- actions -->
    <mj-section>
      <mj-group>
        <mj-column>
          <mj-button
            href="{{returnUrl}}"
            padding="0px"
            align="center"
            font-family="Helvetica"
            background-color="#457b9d"
            color="white"
            border-radius="100px"
            border="2px solid #457b9d"
            font-weight="bold"
            text-transform="uppercase"
            font-size="11px"
            width="140px"
            inner-padding="10px 5px"
          >
            Create Your Account
          </mj-button>
        </mj-column>
      </mj-group>
    </mj-section>
    <!-- actions -->

    <!-- END CONTENT -->
    <mj-include path="emailFooter.mjml" />
  </mj-body>
</mjml>
