<mjml>
  <mj-include path="emailHeader.mjml" />
  <mj-body background-color="#FBFBFB">
    <mj-section>
      <mj-column width="100%">
        <mj-image width="200px" src="{{tenant.assets.images.logo}}" alt="{{tenant.name}}" href="{{tenant.url}}" />
        <mj-spacer height="50px" />
        <mj-text align="left" font-size="18px" font-weight="500">{{template.salutations}} {{recipient.firstName}},</mj-text>
      </mj-column>
    </mj-section>

    <!-- CONTENT HERE -->
    <mj-section padding="0">
      <mj-column width="90%">=
        <mj-text font-size="14px" color="#6D7276" align="center" font-weight="500">
          {{message}}
        </mj-text>
      </mj-column>
      </mj-column>
    </mj-section>

    <!-- END CONTENT -->
    <mj-include path="emailFooter.mjml" />
  </mj-body>
</mjml>
