#__next {
    min-height: 100vh;
}
#__next > div > div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#app{
    display: flex;
    flex-direction: column;
}
#main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
}
#footer{
    flex: 0;
    padding: 10px;
}
